@font-face{
    font-family: medium;
    src: url("fonts/Roboto-Medium.ttf");
}

@font-face{
    font-family: light;
    src: url("fonts/Roboto-Light.ttf");
}

@font-face{
    font-family: regular;
    src: url("fonts/Roboto-Regular.ttf")
}

html,body{margin:0;overflow: hidden;font-family: regular;}
*{box-sizing: border-box; transition-duration: 0.3s; outline: none;}

tabBar,page-tabs,chrome{
    display:block;
    padding:0px;
    background-color:lightgray;
    height: 22px;
    margin: 0;
    -webkit-app-region:drag;
}

page-tabs{
    padding-left:10px;
}

chrome{
    height: 25px;
    padding-right:2px;
}

toolbar{
    display:flex;
    padding-top: 5px;
    border-bottom: 2px black solid;
    height: auto;
}

pg-nav{
    display:inline-block;
}

tabBar,page-tabs{
    display:inline-block;
    height:40px;
    width:auto;
}

page-tabs{
    position: relative;
    top: -1px;
    /* odd flex but okay */
    display:inline-flex;
    align-items: center;
    max-width:85%;

}

pg-tab{
    display:inline-block;
    margin:0;
    padding: 0px 10px 0px 5px;
    height:40px;
    background-color:darkgray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-app-region:no-drag;
    border-style: solid;
    border-color: darkgray;
    border-right-color: rgb(50,50,50);
    border-width: 2px;
    overflow:hidden;
}

tabBar{
    height:40px;
    display:block;
    width:100%;
    overflow: visible;
}



ch-min,ch-max,ch-exit{
    -webkit-app-region:no-drag;
    display:inline-flex;
    align-items: center;
    position: absolute;
    top:0;
    height: inherit;
    width: 25px;
    height:25px;
    justify-content: center;
    background-color: inherit;
    padding:2px;
    border-width:0px;
    border-radius: 50%;
}

pg-back,pg-forward,pg-refresh{
    height:25px;
    width:25px;
    display:inline-block;
    margin:0px;
    border-radius: 50%;
}

pg-back{
    margin-left:1px;
}

pg-back:hover,pg-forward:hover,pg-refresh:hover{
    background: darkgrey;
}

ch-min:hover,ch-max:hover,ch-exit:hover{
    background-color:darkgray;
}

ch-exit{right:0;}
ch-max{right:25px;}
ch-min{right:50px;}

svg{display:inline-block;margin:0;}

tb-icon{margin-right: 2.5px;height:100%;display: inline-block;position: relative;top: -6.5px;}

search-bar{background:rgb(220,220,220);height:25px;display:inline-block;flex-grow:9;margin-right:5px;margin-left:5px; border-radius: 15px;padding-top:3px;padding-left:15px;}

other-settings{
    padding:10px;
    position: absolute;
    width: 175px;
    height: auto;
    display: none;
    top: 95px;
    right:0.25vw;
    background: lightgrey;
    border-radius:15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style:solid;
    border-width:2px;
    border-color:black;
}

settingsbtn{
    margin-right:0.25vw;
    display:inline-block;
}

settingsbtn:hover{
    display:inline-block;
    background: lightgrey;
}

st-btn,st-win,st-br,st-history,st-bookmarks,page-zoom,adv-settings,dev-tools,m-settings,st-label{
    display:block;
    width:130px;
    padding:5px;
    border: 1px solid darkgray;
    border-radius:5px;
    -webkit-user-select: none;
}

page-zoom{
    display: flex;
    width:130px;
    justify-content: space-evenly;
}

st-btn:hover,st-win:hover,st-history:hover,st-bookmarks:hover,adv-settings:hover,dev-tools:hover,m-settings:hover,page-zoom:hover,st-label:hover{
    border: 1px solid black;
    background: rgb(230,230,230);
    padding: 7.5px;
}

st-br{
    border:none;
}

settingsbtn:hover other-settings, other-settings:hover{
    display:inline-block;
}


webview{
    height: calc(100vh - (100px) + 2px);

}

sch-ipt{
    display:inline-block;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: none;
    max-width: 80vw;
}

tb-title{
    cursor: default;
    padding-left:8px;
    padding-top: 10px;
    display: inline-block;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(20vw - 70px);
}

add-tab{
    -webkit-app-region:no-drag;
    border-width: 2px;
    border-style:solid;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: darkgray;
    border-color:darkgrey;
    display:inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height:40px;
    width:40px;
    margin:0px;
    overflow: hidden;
}

tb-remove{display:inline-block;height:20px;border-radius:20px;}
tb-remove:hover{background-color:darkgrey;}

add-tab:hover,pg-tab:hover{
    background: lightgray;
}

ind{
    display: none;
    position: absolute;
    left:0;
    bottom:0;
    height: 20px;
    border: 0.5px solid black;
    font-size: 12px;
    background: white;
    max-width: 35vw;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 1px;
}


[hint]{
    color:grey;
}

book-marks{
    display:flex;
    background:lightgray;
    height:40px;
    align-items: center;
}

b-mark{
    max-width:20vw;
    height: 35px;
    background: inherit;
    border-right-style: solid;
    border-left-style: solid;
    border-color: darkgray;

    border-width:2px;
    border-radius: 10px;
    padding:3px;
    align-content: center;
    margin-left:3px;
}

b-mark:hover{
    background:darkgray;
    border-color:lightgray;
    color:white;
}

b-title{
    vertical-align: middle;
    margin-left: 5px;
    display:inline-block;
    cursor: default;
}

b-ico{
    vertical-align:middle;
    display:inline-block;
}

b-ico img{
    top:3px;
    display:inline-block;
}

full-query{
    min-height: 100px;
    width: 40vw;
    display:block;
    position: fixed;
    top: calc(50vh - 100px);
    left: calc(50vw - 20vw);
    z-index:99;
    border-width:3px;
    border-style: solid;
    border-color:black;
    padding:10px;
    box-shadow: 0 0 50px 700px #00000070;
    background:whitesmoke;
}

full-query h2{
    border-bottom: black dotted 1px;
}

full-query input[type='text']{
    border-style:solid;
    border-width:3px;
    border-color:black;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding:5px;
    font-size: 15px;
}

full-query button{
    border-style:solid;
    border-width:3px;
    border-color:black;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-left-style: none;
    padding:6px;
    font-size:15px;
}

full-query div{
    margin-bottom: 5px;
}

add-mark{
    display:block;
    float:right;
    width: 25px;
    height:25px;
    background: inherit;
    border-radius: 50%;
    position: relative;
    top: -3px;
}

add-mark:hover{
    background:darkgrey;
}

add-mark:hover img, z-in:hover img, z-out:hover img{
    filter: invert(100);
}

z-in,z-out{
    width:25px;
    height:25px;
    border-radius:50%;
}

z-in:hover,z-out:hover{
    background:darkgray;
}

multi-view{
    display:grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto;
    overflow-y: auto;
}

m-settings input{
    border-radius: 15px;
    border-width:2px;
    border-color: black;
    padding: 3px 6px;
    width: 98%;
}
