@font-face{
    font-family: medium;
    src: url("fonts/Roboto-Medium.ttf");
}

@font-face{
    font-family: light;
    src: url("fonts/Roboto-Light.ttf");
}

@font-face{
    font-family: regular;
    src: url("fonts/Roboto-Regular.ttf")
}

html,body{margin:0;overflow: hidden;font-family: regular;}
*{box-sizing: border-box; transition-duration: 0.3s;}

tabBar,page-tabs,chrome{
    display:block;
    background-color:lightgray;
    height: 22px;
    margin: 0;
    -webkit-app-region:drag;
}

toolbar{
    display:flex;
    padding-top: 5px;
    border-bottom: 2px black solid;
    height: auto;
}

pg-nav{
    display:inline-block;
}

tabBar,page-tabs{
    display:inline-block;
    height:40px;
    width:auto;
    padding-left: 10px;
}

page-tabs{
    position: relative;
    top:-8px;
    display:inline-flex;
    max-width:85%;
    overflow: hidden;
}

pg-tab{
    box-sizing: border-box;
    display:inline-block;
    margin:0;
    padding: 0px 10px 0px 5px;
    height:40px;
    background-color:darkgray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;  
    -webkit-app-region:no-drag;
    border-style: solid;
    border-color: darkgray;
    border-right-color: rgb(50,50,50);
    border-width: 2px;
}

tabBar{
    height:40px;
    display:block;
    width:100%;
    overflow: hidden;
}



ch-min,ch-max,ch-exit{
    -webkit-app-region:no-drag;
    position: absolute;
    top:0;
    height: inherit;
    width: 25px;
    background-color: inherit;
    padding:2px;
    border:none;
}

pg-back,pg-forward,pg-refresh{
    height:25px;
    width:25px;
    display:inline-block;
    margin:0px;
}

pg-back:hover,pg-forward:hover,pg-refresh:hover{
    background: darkgrey;
}

ch-min:hover,ch-max:hover,ch-exit:hover{
    background-color:darkgray;
}

ch-exit{right:0;}
ch-max{right:25px;}
ch-min{right:50px;}

svg{display:inline-block;margin:0;}

tb-icon{margin-right: 2.5px;height:100%;display: inline-block;position: relative;top: -6.5px;}

search-bar{background:rgb(220,220,220);height:25px;display:inline-block;flex-grow:9;margin-right:5px;margin-left:5px; border-radius: 15px;padding-top:3px;padding-left:15px;}

other-settings{
    padding:10px;
    position: absolute;
    width: 150px;
    height: auto;
    display: none;
    top: 95px;
    right:0.25vw;
    background: lightgrey;
}

settingsbtn{
    margin-right:0.25vw;
    display:inline-block;
}

settingsbtn:hover{
    display:inline-block;
    background: lightgrey;
}

st-btn,st-win,st-br,st-history,st-bookmarks,page-zoom,adv-settings,dev-tools{
    display:block;
    width:auto;
    padding:5px;
    border: 1px solid darkgray;
    border-radius:5px;  
    -webkit-user-select: none;
}

st-btn:hover,st-win:hover,st-history:hover,st-bookmarks:hover,adv-settings:hover,dev-tools:hover{
    border: 1px solid black;
    background: rgb(230,230,230);
    padding: 7.5px;
}

st-br{
    border:none;
}

settingsbtn:hover other-settings, other-settings:hover{
    display:inline-block;
}


webview{
    height: calc(100vh - (100px) + 2px);
    
}

sch-ipt{
    display:inline-block;
    outline: none;
}

tb-title{
    cursor: default;
    padding-left:8px;
    padding-top: 10px;
    display: inline-block;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(20vw - 70px);
}

add-tab{
    -webkit-app-region:no-drag;
    border-width: 2px;
    border-style:solid;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: darkgray;
    border-color:darkgrey;
    display:inline-block;
    height:40px;
    width:40px;
    margin:0px;
}

tb-remove{display:inline-block;height:20px;border-radius:20px;}
tb-remove:hover{background-color:darkgrey;}

add-tab:hover,pg-tab:hover{
    background: lightgray;
}

ind{
    display: none;
    position: absolute;
    left:0;
    bottom:0;
    height: 20px;
    border: 2px solid black;
}
/*
    new elements:
        page-tabs
            pg-tab
                tb-icon
                tb-title
        toolbar
            pg-nav
                pg-back
                pg-forward
                pg-refresh
            search-bar
                sch-icon
                sch-ipt
            other-settings
                st-btn
                st-win
                st-br

                st-history
                    hist-item
                st-bookmarks
                    book-mark
                        bm-name
                        bm-ico
                page-zoom
                    z-in
                    z-out
                    z-full
                adv-settings(button)

            book-marks
                b-mark
                    b-ico
                    b-title
*/